body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Pushster', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.orange-colour{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
    height: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    box-shadow: 10px 20px 40px gray;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left;
}
#full-web{
    border-left: 8px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 8px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}